.group-container{
    background-color: aquamarine;
    margin: 10px;
    height: 15vh;
    border-radius: 10px;
    text-align: left;
    padding-left: 5px;;
}
.selected-group-container{
    background-color: gold;
    margin: 10px;
    height: 15vh;
    border-radius: 10px;
    text-align: left;
    padding-left: 5px;;
}

.new-group-container{
    background-color: aquamarine;
    margin: 10px;
    height: 15vh;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}