.main-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    height: 100vh;
    overflow:hidden;
}

.chat-container{
    background-color: turquoise;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;

}

.chat-contents{
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 90%;
    overflow: auto;
}

.menu-container{
    background-color: aqua;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
 .menu-header{
     flex-basis: 10%;
     background-color: black;
     display: flex;
     justify-content: flex-end;
 }
 .menu-header button{
    margin: 10px;
 }

.menu-contents{
    flex-basis: 75%;
    overflow: auto;
}

.menu-input-container{
    flex-basis: 25%;
    background-color: rgb(71, 71, 248);
    display: flex;
    flex-direction: column;
}

.new-group-button-container{
    background-color: aqua;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


